@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 40px;
};

body {
	background: #eee;
	margin: 0px;
	font-family: sans-serif;
};

.navbar {
  -webkit-box-shadow: 0 20px 20px -6px rgba(0, 140, 255, 1);
  -moz-box-shadow: 0 20px 20px -6px rgba(0, 140, 255, 1);
  box-shadow: 0 20px 20px -6px rgba(0, 140, 255, 1);
};

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {
  float:none;
  font-size: 50px;
}

.glow {
  font-size: 60px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4dffff, 0 0 40px #4dffff, 0 0 50px #4dffff, 0 0 60px #4dffff, 0 0 70px #4dffff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3399ff, 0 0 40px #3399ff, 0 0 50px #3399ff, 0 0 60px #3399ff, 0 0 70px #3399ff, 0 0 80px #3399ff;
  }
}

.row.drop_img {
  margin-top: 100px;
};

img {
  cursor: pointer;
  /*padding: 10px;*/
  /* border:1px solid #fff;*/
  margin-right: 20px;
}

img:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
};

img:last-of-type:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
};