- @interfaces.each_with_index do |interface, i|
  %div
    .bubble{class: "#{@colors[i % 4]}"}= interface.capture
    .pointer{class: "#{@colors[i % 4]}"}
  %div
    .bubble.blurred
    .pointer.blurred