%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %div.navbar-header
    = link_to 'Wireshark', root_path, class: 'navbar-brand glow'
  %div.sidenav
    = link_to 'File', root_path, class: 'glow'
    = link_to 'Settings', root_path, class: 'glow'
    = link_to 'Extra Shit', root_path, class: 'glow'